.bannerAnimal,
.bannerVegetal {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12.4vw;
      padding-left: 10vw;
      padding-top: 12vw;

      h1{
          font-size: 3.5rem;
          color: #5F287E;
      }

      p {
          font-size: 1.5rem;

          span {
              color: #BA48FD;
          }
      }
  }

  .bannerAnimal {
    background: url(/src/images/bannerAnimal.png) no-repeat right top ;
  }

  .textoCentral {
    padding: 0 10vw 0 10vw;
    h2 {
        font-size: 1.5rem;
        margin-bottom: 2vw;
    }

    li {
      padding: 0.5vw 0 0.5vw 0;
    }

    li:last-child  {
      padding-bottom: 1vw;
    }

    p {
        color: #959595;
        line-height: 1.5;

        span {
          color: #5F287E;
        }
    }
}

.botoes {
  text-align: center;
  padding: 10vw;

  a:first-child {
    margin-right: 15vw;
  }

  a {
    border: #5F287E 2px solid;
    padding: 4vw 6vw 4vw 6vw;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-family: "libre Franklin", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4rem;
  }
}