html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
}

.banner {
    display: flex;
    justify-content: space-between;

    .texto {
        padding-left: 10vw;
        padding-top: 12vw;

        h1{
            font-size: 3.5rem;
            color: #5F287E;
        }

        p {
            font-size: 1.5rem;

            span {
                color: #BA48FD;
            }
        }
    }
}

.textoCentral {
    padding: 0 10vw 0 10vw;
    h2 {
        font-size: 1.5rem;
        margin-bottom: 2vw;
    }
    p {
        color: #959595;
        margin-bottom: 6vw;
        line-height: 1.5;
    }
}