.banner {
    display: flex;
    justify-content: space-between;
    background: url(/src/images/ImagemBanner.png) no-repeat right top ;
    padding-bottom: 8vw;
    .texto {
        padding-left: 10vw;
        padding-top: 12vw;

        h1{
            font-size: 3.5rem;
            color: #5F287E;
        }

        p {
            font-size: 1.5rem;

            span {
                color: #BA48FD;
            }
        }
    }
}

.textoCentral {
    padding: 0 10vw 0 10vw;
    h2 {
        font-size: 1.5rem;
        margin-bottom: 2vw;
    }
    p {
        color: #959595;
        margin-bottom: 6vw;
        line-height: 1.5;
    }
}

.procarionteEucarionte {
    background: url(/src/images/Fundo_2.png) no-repeat center;
    padding: 11vw 0 11vw 0;
    
    .procarionte{
        border-top: #5F287E 2px solid;
        border-bottom: #5F287E 2px solid;
        border-right: #5F287E 2px solid;
        border-radius: 0 24px 24px 0;
        margin-right: 50%;
        padding: 0 5vw 5vw 0;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 5vw;
        background: url(/src/images/Procarionte.png) no-repeat 30vw center;
    }

    .eucarionte {
        border-top: #5F287E 2px solid;
        border-bottom: #5F287E 2px solid;
        border-left: #5F287E 2px solid;
        border-radius: 24px 0 0 24px;
        margin-left: 50%;
        padding: 0 0 5vw 5vw;
        text-align: center;
        font-size: 1.5rem;
        background: url(/src/images/Eucarionte.png) no-repeat 8vw center;
    }

    a {
        background-color: #5F287E;
        color: white;
        border: none;
        border-radius: 18px;
        font-size: 2rem;
        padding: 0 3vw 0 3vw;
        margin: 4vw 5vw 0 5vw;
        text-decoration: none;
    }

    p {
        margin-top: 1vw;
        margin-bottom: 2vw;
    }

}