/*====================================
    Formatação geral
=====================================*/

h1 {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}




/*====================================
    Formatação header
=====================================*/

header {
    background-color: #D0CFD3;
    padding: 1.5vw 2vw 1vw 2vw;
    color: #2e1089;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.489);
}


header ul {
    display: flex;
    padding: 1.2vw 4vw 0.8vw 1vw;
}

header ul li {
    padding: 0 1vw 0 1vw;
    font-size: 1.25rem;
    cursor: pointer;
}

header ul li a {
    text-decoration: none;
    color: #2e1089;
}

.paginaAtual {
    background-color: white;
    padding: 0.5vw;
    border-radius: 100px;
}

/*==============================
    Formatação banner
================================*/

section.banner img {
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.491);
}

/*==============================
    Formatação celulas
================================*/

section.celulas h1 {
    margin: 2vw 0 3vw 0;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    color: #020734;
}

section.celulas h2 {
    margin: 1vw 0 2vw 0;
    text-align: center;
    font-size: 2.5rem;
    color: #020734;
}


section.celulas div.introducao {
    background-color: #C3AAFF;
    padding: 4vw;
    margin: 2vw 8vw 3vw 8vw;
    border-radius: 20px;
}

section.celulas div.introducao p {
    font-size: 1.6rem;
    line-height: 40px;
}

section.celulas div.bloco-celulas {
    display: flex;
    justify-content: space-between;
    margin: 0 25vw 7vw 25vw;
}

section.celulas div.bloco-celulas div.escolha-celula {
    background-color: #C3AAFF;
    padding: 2vw 1vw 3vw 1vw;
    border-radius: 50px;
    text-align: center;
}

section.celulas div.bloco-celulas div.escolha-celula h2 {
    font-size: 2rem;
    margin: 2vw;
}

section.celulas div.bloco-celulas div.escolha-celula a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    background-color: #5F287E;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 100px;
}


/*==============================
    Formatação menu recolhível:
=============================*/

.ref {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* Centraliza o botão horizontalmente */
    /* Ajusta a posição vertical */
    margin: 5vw 20vw 10vw 20vw;
    font-size: 1.3rem;
}


.accordion {
    background-color: #C3AAFF;
    /* Cor do fundo do botão */
    color: #000000;
    cursor: pointer;
    padding: 18px 24px;
    /* Ajuste do padding */
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.5rem;
    transition: background-color 0.2s ease;
    width: 100%;
    border-radius: 8px;
    display: flex;
    /* Para permitir o alinhamento da seta */
    justify-content: space-between;
    /* Espaço entre texto e seta */
    align-items: center;
    /* Centraliza verticalmente */
}

.arrow {
    width: 20px;
    /* Ajuste o tamanho da seta conforme necessário */
    height: auto;
    /* Mantém a proporção */
    margin-left: 10px;
    /* Espaço entre o texto e a seta */
}

/* Painel oculto */
.panel {
    display: none;
    background-color: white;
    overflow: hidden;
    margin-top: 20px;
    line-height: 35px;
    font-size: 1.4rem;
    text-align: center;
}

/*==============================
    Formatação footer
=============================*/

footer {
    background-color: #020734;
    color: white;
    padding: 5vw 0 5vw 0;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}