/*==============================
            Formatação referências
        =============================*/
        .ref {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 5vw 20vw 10vw 20vw;
            font-size: 1.3rem;
            font-family: "Lexend", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            
            li {
            display: block;
            margin-bottom: 10px;
            text-align: center;
            justify-content: center;
        }
        a {
            color: #959595;
            font-size: 1rem;
        }
        }
        .minhasReferencias {
            display: none;
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: left;
        }

        
        .referencias {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: #F8ECFF;
            color: #5F287E;
            cursor: pointer;
            padding: 1vw 2vw;
            border: 2px solid #E9CEF9;
            text-align: center;
            outline: none;
            font-size: 1.2rem;
            transition: background-color 0.2s ease;
            width: 100%;
            border-radius: 20px;
            text-align: center;
            justify-content: center;
        }