/*==============================
    Formatação referências
=============================*/

/* Estilo do botão recolhível */

.ref {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5vw 20vw 10vw 20vw;
    font-size: 1.3rem;
}

div.ref img {
    margin: 0 0 0 5px;
}

.accordion {
    background-color: #F8ECFF;
    color: #5F287E;
    cursor: pointer;
    padding: 1vw 2vw;
    border: 2px solid #E9CEF9;
    text-align: center;
    outline: none;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
    width: 100%;
    border-radius: 20px;
}

/* Painel oculto */
.panel {
    display: none;
    background-color: white;
    overflow: hidden;
    margin-top: 20px;
    line-height: 35px;
    font-size: 1.4rem;
    text-align: center;
}

a {
    color: #959595;
    font-size: 1rem;
}