/*==============================
    Formatação banner
================================*/

.banner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12.4vw;
    padding-left: 10vw;
    padding-top: 14vw;
    background: url(/src/images/bannerSobreNos.png) no-repeat right top ;

    h1 {
        font-size: 3.5rem;
        color: #5F287E;
    }
}

/*==============================
    Formatação conteudo
=============================*/


.sobre-nos {
    padding: 0 10vw 5vw 10vw;
    text-align: center;
    
    .fotos-superior,
    .fotos-inferior {
        display: flex;
        justify-content: space-around;
        
    }
    
    p {
    margin-top: 5vw;
    font-family: "Lexend";
    font-size: 1.8rem;
}

}

.fotos-superior img{
    padding-top: 3vw;
    margin-top: 2vw;
}

.fotos-inferior {
        margin-top: 6vw;
    }

.bianca {
    background: url(/src/images/FundoBianca.png) no-repeat center 0vw;
}

.helena {
    background: url(/src/images/FundoHelena.png) no-repeat center 0vw;
}

.matheus {
    background: url(/src/images/FundoMatheus.png) no-repeat center -1vw;
    padding-top: 4vw
}

.rafael {
    background: url(/src/images/FundoRafael.png) no-repeat center 0;
    padding: 4vw 1vw 0 1vw;
}
