/*====================================
    Formatação geral
=====================================*/

body {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}


/*====================================
    Formatação header
=====================================*/

header {
    background-color: #D0CFD3;
    padding: 1.5vw 2vw 1vw 2vw;
    color: #2e1089;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.489);
}


header ul {
    display: flex;
    padding: 1.2vw 4vw 0.8vw 1vw;
}

header ul li {
    padding: 0 1vw 0 1vw;
    font-size: 1.25rem;
    cursor: pointer;
}

header ul li a {
    text-decoration: none;
    color: #2e1089;
}

.paginaAtual {
    background-color: white;
    padding: 0.5vw;
    border-radius: 100px;
}

/*==============================
    Formatação banner
================================*/

section.banner img {
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.491);
}

/*=============================
    Formatação meio
==============================*/

section.celula-conteudo {
    margin: 2vw 2vw 2vw 2vw;
}

section h1 {
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    color: #5F287E;
}

section.celula-conteudo div.texto-um section.celula-conteudo div.texto {
    text-align: start;
    justify-content: space-between;
    justify-content: center;
    flex-direction: column;
}

section.celula-conteudo div.blocos div.texto ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    line-height: 30px;

}

section.celula-conteudo div.blocos div.texto ul li {
    justify-content: space-between;
    background-color: #C3AAFF;
    text-align: center;
    border-radius: 30px;
    margin: 1vw 1vw 1vw 0;
    padding: 1vw 0 1vw 0;
}

section.celula-conteudo div.blocos div.texto ul li h2 {
    padding: 1vw 0 1vw 0;
    background-color: white;
    font-size: 1.2rem;
    margin: 0 10vw 0 10vw;
    border-radius: 20px;
}

section.celula-conteudo div.blocos div.texto-um {
    background-color: #C3AAFF;
    border-radius: 30px;
    padding: 1vw 1vw 2vw 1vw;
    margin: 1vw 0 1vw 0;
    font-size: 1.4rem;
}

section.celula-conteudo div.fontes {
    text-align: center;
}

section.celula-conteudo div.fontes img {
    width: 22vw;
    margin: 1vw;
    justify-content: space-between;
    margin: 1vw 2vw 2vw 2vw;
}

section.celula-conteudo div.fontes p {
    margin-left: 2vw;
    font-weight: 500;
    margin: 1vw 0 1vw 1vw;
}

section.botoes {
    justify-content: center;
    background-color: #C3AAFF;
    padding: 4vw 8vw 4vw 8vw;
    margin: 2vw 10vw 2vw 10vw;
    border-radius: 30px;
}

section.botoes ul {
    display: flex;
    justify-content: space-between;
}

section.botoes ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #5F287E;
    padding: 2vw;
    border-radius: 100px;
}

div.texto-um p {
    margin-top: 1vw;
}

section.celula-conteudo div.exemplos {
    background-color: #020734;
    color: white;
    padding: 2vw;
    text-align: center;
    border-radius: 20px;
}

section.celula-conteudo div.exemplos h3 {
    font-size: 1.2rem;
    background-color: white;
    margin: 0 40vw 1vw 40vw;
    padding: 1vw;
    color: black;
    border-radius: 10px;
}

div.animal-e-vegetal {
    text-align: center;
}

div.animal-e-vegetal h2 {
    font-size: 1.3rem;
    margin-top: 1vw;
}

div.animal-e-vegetal p {
    background-color: #C3AAFF;
    padding: 1vw;
    margin: 1vw;
    border-radius: 20px;
}

div.animal-e-vegetal ul {
    justify-content: space-between;
    display: flex;
    margin: 0 30vw 0 30vw;
}

div.animal-e-vegetal ul li {
    margin: 3vw 0 3vw 0;
}

div.animal-e-vegetal ul li a {
    color: white;
    text-decoration: none;
    background-color: #020734;
    padding: 2vw;
    border-radius: 10px;
}


.ref {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* Centraliza o botão horizontalmente */
    /* Ajusta a posição vertical */
    margin: 5vw 20vw 10vw 20vw;
    font-size: 1.3rem;
}


.accordion {
    background-color: #C3AAFF;
    /* Cor do fundo do botão */
    color: #000000;
    cursor: pointer;
    padding: 18px 24px;
    /* Ajuste do padding */
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.5rem;
    transition: background-color 0.2s ease;
    width: 100%;
    border-radius: 8px;
    display: flex;
    /* Para permitir o alinhamento da seta */
    justify-content: space-between;
    /* Espaço entre texto e seta */
    align-items: center;
    /* Centraliza verticalmente */
}

.arrow {
    width: 20px;
    /* Ajuste o tamanho da seta conforme necessário */
    height: auto;
    /* Mantém a proporção */
    margin-left: 10px;
    /* Espaço entre o texto e a seta */
}

/* Painel oculto */
.panel {
    display: none;
    background-color: white;
    overflow: hidden;
    margin-top: 20px;
    line-height: 35px;
    font-size: 1.4rem;
    text-align: center;
}



/*==============================
    Formatação footer
=============================*/

footer {
    background-color: #020734;
    color: white;
    padding: 4vw 0 4vw 0;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}